<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>NPR: News Peeled Regularly</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	{{!-- link to app.js here, if necessary
		<script src="/assets/js/cats.js"></script> --}}
	{{!-- This is bootstrap. --}}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	{{!-- This is fontawesome. --}}
	<script src="https://kit.fontawesome.com/472a09b98e.js"></script>

</head>

<body>
	<div class=container>
		{{{ body }}}
	</div>

</body>

</html>