<h1>The Index Loaded!</h1>

<h2>This and that!</h2>

<div>
  {{#each hbsObjectMain}}
  <ul>
  <li>{{this.title}}</li>
  <li>{{this.link}}</li>
  <li>{{this.summary}}</li>
  <li>{{this.image}}</li>
  </ul>
    {{/each}}
</div>